NEXT_PUBLIC_URL=http://localhost:3000
NEXT_PUBLIC_BACKEND_URL=http://localhost:4000

NEXT_PUBLIC_BUCKET=https://storage.googleapis.com/bucket/

# For Frontend Auth
AUTH_SECRET=AUTH_SECRET

# For Backend
AUTH_SECRET_KEY=AUTH_SECRET_KEY

GOOGLE_ID=GOOGLE_ID
GOOGLE_SECRET=GOOGLE_SECRET