NEXTAUTH_URL=http://localhost:3000
NEXT_PUBLIC_BACKEND_URL=http://localhost:3001
AUTH_TRUST_HOST=true

# Google Cloud Storage Bucket
NEXT_PUBLIC_BUCKET=https://storage.googleapis.com/bucket/

# Client Auth Secret Key
AUTH_SECRET=AUTH_SECRET

# For Backend Auth
BACKEND_AUTH_KEY=BACKEND_AUTH_KEY

# Google OAuth
GOOGLE_CLIENT=GOOGLE_CLIENT
GOOGLE_SECRET=GOOGLE_SECRET